__pycache__/
.DS_Store
*.pyc
venv
.idea/*
replacer.sh
create.sh
*.tar.gz
node_modules/
wardriver/tsconfig.json
package.json
package-lock.json
wardriver/projects/wardriver/src/wp7.sh
wardriver/projects/wardriver/src/pylog.txt
wardriver/projects/wardriver/src/aa
